# theme = "gruvbox_dark_hard"
theme = "autumn"

[editor]
line-number = "absolute"
middle-click-paste = true
rulers = [80,120]
mouse = false
shell = ["nu", "-c"]
bufferline = "always"
insert-final-newline = true
color-modes = true
true-color = true
# Setting end-of-line-diagnostics, cursor-line or other-lines to
# anything other than "disable" enables inline diagnostics.
end-of-line-diagnostics = "hint"

[editor.inline-diagnostics]
# Minimum severity to show a diagnostic on the primary cursor's line.
# Note that `cursor-line` diagnostics are hidden in insert mode.
cursor-line = "error"
# Minimum severity to show a diagnostic on other lines:
# other-lines = "error"


[editor.statusline]
left = ["mode", "spinner", "version-control", "file-name"]

[editor.lsp]
display-inlay-hints = true

[editor.soft-wrap]
enable = true

[editor.indent-guides]
render = true

[keys.normal]
# C = ["extend_to_line_end", "delete_selection", "insert_mode"]
esc = ["collapse_selection", "keep_primary_selection"]
C-j = ["extend_to_line_bounds", "delete_selection", "paste_after"]
C-k = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]

[editor.file-picker]
hidden = false

[keys.insert]
up = "no_op"
down = "no_op"
left = "no_op"
right = "no_op"
pageup = "no_op"
pagedown = "no_op"
home = "no_op"
end = "no_op"

[keys.normal.space]
i = ":toggle lsp.display-inlay-hints"
o = ":sh git blame -L %{cursor_line},%{cursor_line} %{buffer_name}"
